<div class="container">
  <div class="row">
		<div class="col-md-12" id="jumbotron">
<h1>New York Times Article Scrapper</h1>
</div>
<div class="row">
<h2>NYT Mongo Scrapper</h2>
</div>
</div>
<div class="row">
  <div class="col-md-12">
<form class="create-form">

  <div class="form-group">
    <label for="no">Comments:</label>
    <input type="text" id="no" name="name">
  </div>

  <button type="submit">Search</button>
</form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    
  </div>
</div>
</div>
</div>